# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable close-tags': 'close-tags:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'close-tags'
      'submenu': [
        { 'label': 'Toggle', 'command': 'close-tags:toggle' }
      ]
    ]
  }
]
